<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="/static/styles.css" rel="stylesheet">
        <title>
            Venipuncture Interface
        </title>
    </head>

    <body>
        <h1 class="headheader"> Self-assessment Checklist </h1>
            <h2 class="subheader">Preparatory Phase</h2>
                <div>
                    <form action="">
                        <label class="form-control">
                        <input type="checkbox" name="checkbox" />
                        Hand Rub.
                        </label>
                      
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked"/>
                        Check order form and stickers against Patient Identifiers.
                        </label>

                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked"/>
                        Prepare Specimen bag. Place order form in the bag.
                        </label>

                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked"/>
                        Ensure stickers are ready.
                        </label>

                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked" />
                        Gather items in an organized manner.
                        </label>

                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked" />
                        Move trolley according to preferred site.
                        </label>
                </div>
                
                
            <h2 class="subheader">Performance Phase</h2>
                <div>
                    <form action="">
                        <label class="form-control">
                        <input type="checkbox" name="checkbox"/>
                        Hand rub. Wear gloves.
                        </label>
                    
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked"/>
                        Apply tourniquet 5-7cm above site.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked"/>
                        Palpate vein in/near antecubital fossa site.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox"/>
                        Select a readily accessible and uncompromised vein.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox" />
                        Clean site in a circular motion from center, in an outward manner.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox" />
                        Allow the alcohol to dry.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox" />
                        Assemble vacutainer. Remove the wing needle cap.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox" />
                        Bend and hold together the winged side of the needle. Ensure the angle of entry is superficial at a 10° angle.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked" />
                        With the bevel facing up, insert the needle.
                        </label>
                        
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked" />
                        Upon seeing a flashback, insert the blood specimen tube.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked" />
                        Release tourniquet near completion.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked" />
                        Place dry gauze over the puncture site and discard sharps immediately.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked" />
                        Invert blood tube accordingly.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked" />
                        Apply first-aid bandage when bleeding stops.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked" />
                        Perform a visual check (name and NRIC) on the sticky label, documnet and wrist-tag. Label the blood tube.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked" />
                        Dispatch the specimen
                        </label>
                </div>
                
                
            <h2 class="subheader">Closure Phase</h2>
                <div>
                    <form action="">
                        <label class="form-control">
                        <input type="checkbox" name="checkbox"/>
                        Discard all waste.
                        </label>
                    
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked"/>
                        Remove gloves.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked" />
                        Hand hygiene.
                        </label>
                        <label class="form-control">
                        <input type="checkbox" name="checkbox-checked" />
                        Dispatch specimen if not done earlier.
                        </label>
                </div>
            
    </body>
</html>