{% extends "layout.html" %}

{% block main %}
    <h1 class="headheader"> Self-assessment Checklist </h1>
        <h2 class="subheader">Preparatory Phase</h2>
            <form action="">
                <label class="form-control">
                    <input type="checkbox" name="checkbox" />
                    Hand Rub.
                </label>
              
                <label class="form-control">
                    <input type="checkbox" name="checkbox-checked"/>
                    Check order form and stickers against Patient Identifiers.
                </label>

                <label class="form-control">
                    <input type="checkbox" name="checkbox-checked"/>
                    Prepare Specimen bag. Place order form in the bag.
                </label>

                <label class="form-control">
                    <input type="checkbox" name="checkbox-checked"/>
                    Ensure stickers are ready.
                </label>

                <label class="form-control">
                    <input type="checkbox" name="checkbox-checked" />
                    Gather items in an organized manner.
                </label>

                <label class="form-control">
                    <input type="checkbox" name="checkbox-checked" />
                    Move trolley according to preferred site.
                </label>
                
            </form>
{% endblock %}