

.headheader
{
    font-family: Playfair Display;
    font-size : 45px;
    color: #9fd6b4;
    justify-self: center;
    text-align: center;
    margin-top: 10px;
}


.subheader
{
    font-family: Playfair Display;
    font-size : 30px;
    color: black;
    justify-self: center;
    text-align: center;
    margin-top: 10px;
}

.container {
  position: relative;

}

.button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* https://codepen.io/5t3ph/pen/RwrOygP */
:root {
    --form-control-color: rebeccapurple;
    --form-control-disabled: #959495;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .aspects {
    justify-content: space-evenly
  }
  .grey {
    color: grey
  }

  .green {
    color: green
  }

  .red {
    color: red
  }
  /* Checkboxes */
  form {
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 100vh;
  }
  
  .form-control {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    place-content: right;
  }
  
  .form-control + .form-control {
    margin-top: 1em;
  }
  
  .form-control--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }
  
  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }
  
  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
  
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }